.header {
  height: 10vh;
  margin-bottom: 100px;
}

.main {
  margin: 20px;
  display: flex;
  justify-content: center;
  font-family: 'Spartan';
}

.section {
  height: 500px;
  width: 500px;
  background: red;
}
