.header {
  height: 10vh;
  margin-bottom: 100px;
}

.main {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  font-family: 'Spartan';
}
